div {
  border: 3px solid black;
  background: palevioletred;
  width: 200px;
  height: 200px;
  /* transition: 2s; */

  /* transition-property: border-radius, background-color;
  transition-duration: 2s;
  transition-delay: 1s; */

  /* transition: all 1s 2s; */
}

div:hover {
  border-radius: 50%;
  background-color: aqua;
  cursor: pointer;
}
