#wrapper {
  border: 2px solid black;
  width: 600px;
  height: 500px;
  margin: 30px auto;
}

div {
  width: 60%;
  height: 40%;
  border: 2px solid red;
}

article:first-of-type {
  font-size: 100px;
}

article:first-of-type ul {
  font-size: 40%;
}

article:nth-of-type(2) {
  font-size: 20px;
}

html {
  font-size: 16px;
}

article:nth-of-type(2) ul {
  /* font-size: 2em; */
  font-size: 2rem;
}

section:nth-of-type(2) {
  border: 2px solid black;
  background-color: aqua;
  width: 60vw;
  height: 40vh;
}
