<nav class="border-bottom fixed-top p-3 border-dark navbar navbar-expand-lg navbar-light" style="background-color: #a9d6e5;">
    <div class="container">
      <a class="navbar-brand fw-bold" href="#">Medium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active"  href="#">Our Story</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Membership</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Write</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">SignUp</a>
              </li>
              <li class="nav-item">
                <a  class="btn btn-small rounded-pill btn-dark" href="#">Get Started</a>
              </li>

        </ul>
        
      </div>
    </div>
  </nav>