h1 {
  border: 2px solid black;
  background-color: aqua;
  display: inline;
  height: 400px;
  width: 500px;
  /* margin: 20px;
  padding: 10px; */
}

span {
  border: 2px solid black;
  background-color: palevioletred;
  display: block;
  height: 30px;
  width: 400px;
  margin: 20px;
  padding: 30px;
}

div {
  border: 2px solid black;
  background-color: lightgreen;
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
}

div:nth-of-type(2) {
  /* display: none; */
  visibility: hidden;
}
