section {
  width: 70vw;
  margin: 30px auto;
  border: 1px solid #ccc;
  padding: 16px;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

@media screen and (max-width: 850px) {
  h1 {
    color: green;
    font-size: 3rem;
  }
  section {
    background-color: palevioletred;
  }
}

@media screen and (max-width: 510px) {
  h1 {
    font-size: 1.5rem;
    color: red;
  }
}

@media screen and (orientation: landscape), (max-width: 400px) {
  h1 {
    color: purple;
    text-transform: capitalize;
    text-decoration: line-through;
  }
}
