div {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  background-color: aqua;
  display: inline-block;
}

#static #middle {
  position: static;
  top: 100px;
  bottom: 400px;
}

#relative #middle {
  position: relative;
  top: 30px;
  left: 50px;
}

#absolute {
  position: relative;
}

#absolute #middle {
  position: absolute;
  top: 10px;
  left: 30px;
}

#fixed #middle {
  position: fixed;
  top: 10px;
}
