p {
  /* Dimensions-Height and Width */

  width: 300px;

  /* Border */

  border: 2px solid green;

  /* Margin */

  /* margin: 50px; */

  /* margin-top: 50px;
  margin-left: 30px;
  margin-right: 60px;
  margin-bottom: 70px; */

  margin: 40px auto;

  /* margin: 50px 60px 70px 30px; */

  /* Padding */

  /* padding: 30px; */

  /* padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 40px; */

  /* Shorthand Notation */
  /* padding: 20px 30px 10px 40px; */
}
