<%- include('./partials/header') %> 
<%- include('./partials/navbar') %> 

<main class="container mt-5">
    
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="display-3 mt-5">Write Your Blog</h1>
            <form action="/blogs" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="title" id="title" placeholder="Title">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="img">Image URL</label>
                    <input class="form-control" type="text" name="img" id="img" placeholder="Image URL">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="desc">Blog Text</label>
                    <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-small btn-success">Submit</button>
            </form>
        </div>
    </div>

</main>




<%- include('./partials/footer') %> 