ul{
    list-style: none;
}

li{
    font-size: 1.2rem;
    border:1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgb(104,104,104);
    margin-bottom: 5px;
}

#chat{
    height: 70vh;
    overflow-y: scroll;
    border:1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
}