<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        section{
            width: 60vw;
            border: 1px solid #ccc;
            margin:50px auto;
            box-shadow: 1px 1px 2px rgb(104,104,104);
            padding: 16px;
        }
    </style>

</head>
<body>

    <h1>Show Product</h1>
    <section>

        <h2>Name : <%=product.name%></h2>
        <p><%=product.desc%></p>
        <h3>Price : $ <%=product.price%>  </h3>
    </section>


    
</body>
</html>